{{!< default}}
<div class="container-fluid">


<div class="container-fluid">
	<div class="row pad2">

		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
			<div>
				<img src="/images/logo_black.jpg" alt="OCTO - Produções e Eventos" class="img-responsive">
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 pad4" style="color: #b1b1b1">
			<h1>Quem Somos:</h1>
			<br>
			<p>Atuando há vários anos no mercado, a OCTO Produções disponibiliza tudo que você precisa para o seu evento. Apenas profissionais capacitados fazem parte do nosso quadro, dando a você a tranquilidade de que tudo ocorrerá como deseja. Consulte nosso portfólio, veja com quem já trabalhamos e comprove nossa credibilidade.</p>
		</div>
	</div>



</div>
