{{!< default}}
<div class="container">
	<div class="row">
		<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
			
		</div>
		<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
			<div class="thumbnail">
				<img src="/images/card.jpeg" alt="OCTO - Produções e Eventos" class="img-responsive">
				<div class="cardbottom">
					<h3>Quem Somos:</h3>
					<h4>Atuando há vários anos no mercado, a OCTO Produções disponibiliza tudo que você precisa para o seu evento. Apenas profissionais capacitados fazem parte do nosso quadro, dando a você a tranquilidade de que tudo ocorrerá como deseja. Consulte nosso portfólio, veja com quem já trabalhamos e comprove nossa credibilidade.</h4>
				</div>
			</div>
		</div>
		<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
			
		</div>
	</div>
</div>
