<ul class="pagination">
	<li {{#unless data.parcs.previous}}class="disabled"{{/unless}}>
		<a href="{{paginationParcPreviousUrl data.parcs.previous}}">
			<span class="glyphicon glyphicon-chevron-left"></span>
		</a>
	</li>
	{{{paginationParcNavigation data.parcs.pages data.parcs.currentPage data.parcs.totalPages}}}
	<li {{#unless data.parcs.next}}class="disabled"{{/unless}}>
		<a href="{{paginationParcNextUrl data.parcs.next data.parcs.totalPages}}">
			<span class="glyphicon glyphicon-chevron-right"></span>
		</a>
	</li>
</ul>
