#header {
	margin-top: 2px;
}


#footer {
	margin-top: 10px;
	border-top: 2px solid #e9b78f;
	padding-top: 10px;
	padding-bottom: 20x;
	padding-left: 1px;
	padding-right: 1px;
	color: #777777;
}

.gallery-image img{
    display: block;
    max-width: 100%;
    height: auto;
}

.evento img{
	height: 300px;
	width: 100%;
}

.thumbnail img{
<<<<<<< HEAD
	height: 300px;
=======
	height: 350px;
>>>>>>> c2611674ee5300532a548c9585ca888cfb777c2d
	width: 100%;
}

.caption{
	text-align: center;
	background-color: rgb(70, 83, 133);
	color: #ffffff;
}

.caption.list-group-item{
	text-align: center;
	background-color: rgb(70, 83, 133);
	color: #ffffff;
}

.panel-heading{
	text-align: center;
<<<<<<< HEAD
	background-color: rgb(0, 0, 0);
=======
	background-color: rgb(70, 83, 133);
>>>>>>> c2611674ee5300532a548c9585ca888cfb777c2d
	color: #ffffff;	
}

.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus,
.pagination > .active > span,
.pagination > .active > span:hover,
.pagination > .active > span:focus {
	z-index: 2;
	color: #fff;
	background-color: rgb(70, 83, 133);
	border-color: rgb(70, 83, 133);
	cursor: default; }

.cardbottom{
	text-align: center;
}

.caption-evento{
	text-align: center;
	color: rgb(255, 255, 255);
}

.top-evento{
	background-color: black;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 1px) { 
	h1{
		font-size: 20px;
	}
	
	h2{
		font-size: 15px;
	}

	h3{
		font-size: 10px;
	}

	h4{
		font-size: 8px;
	}

	h5{
		font-size: 5px;
	}

	.list-group-item{
		font-size: 8px;
	}

	label{
		font-size: 8px;
	}

	#footer{
		font-size: 10px;
	}

	#d1{
        height:150px;
    }

	

 }

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
	h1{
		font-size: 25px;
	}
	
	h2{
		font-size: 20px;
	}

	h3{
		font-size: 15px;
	}

	h4{
		font-size: 10px;
	}

	h5{
		font-size: 8px;
	}

	.list-group-item{
		font-size: 10px;
	}

	label{
		font-size: 10px;
	}

	#footer{
		font-size: 12px;
	}

	#d1{
        height:200px;
    }

 }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
	h1{
		font-size: 30px;
	}
	
	h2{
		font-size: 25px;
	}

	h3{
		font-size: 20px;
	}

	h4{
		font-size: 15px;
	}

	h5{
		font-size: 10px;
	}

	.list-group-item{
		font-size: 10px;
	}

	label{
		font-size: 15px;
	}

	#footer{
		font-size: 14px;
	}
	.row.display-flex {
		display: flex;
		flex-wrap: wrap;
	  }
	  .row.display-flex > [class*='col-'] {
		display: flex;
		flex-direction: column;
	  }

 }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
	h1{
		font-size: 30px;
	}
	
	h2{
		font-size: 25px;
	}

	h3{
		font-size: 20px;
	}

	h4{
		font-size: 15px;
	}

	h5{
		font-size: 10px;
	}

	.list-group-item{
		font-size: 12px;
	}

	label{
		font-size: 15px;
	}

	#footer{
		font-size: 14px;
	}

	.row.display-flex {
		display: flex;
		flex-wrap: wrap;
	  }
	  .row.display-flex > [class*='col-'] {
		display: flex;
		flex-direction: column;
	  }

 }


.navbar-default {
	background-color: rgb(31, 49, 114);
	border-color: #e7e7e7; }
	.navbar-default .navbar-brand {
	  color: #e7e7e7; }
	  .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
		color: #999898;
		background-color: transparent; }
	.navbar-default .navbar-text {
	  color: #777; }
	.navbar-default .navbar-nav > li > a {
	  color: #e7e7e7; }
	  .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
		color:#999898;
		background-color: transparent; }
	.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	  color: rgb(255, 255, 255);
	  background-color: rgb(70, 83, 133); }
	.navbar-default .navbar-nav > .disabled > a, .navbar-default .navbar-nav > .disabled > a:hover, .navbar-default .navbar-nav > .disabled > a:focus {
	  color: #ccc;
	  background-color: transparent; }
